@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --background: linear-gradient(90deg, rgba(55, 59, 68, 1) 0%, rgba(66, 134, 244, 1) 100%);
    --fundo-diluido: #79acff81;
    --white: #f1f1f1;
    --blue: #3568bb;
    --mint: #95fffa;


    --font: "Zalando Sans SemiExpanded", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--background);
    font-family: var(--font);
}


form {
    background-color: var(--fundo-diluido);
    border-radius: 5px;
    padding: 30px 50px;
    color: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2),
        0 10px 20px rgba(0, 0, 0, 0.1);

}

.container-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 15px
}

.container-data {
    display: flex;
    flex-direction: column;
}

input {
    background: none;
    border: none;
    border-bottom: solid 2px var(--white);
    padding: 5px;
    margin: 4px 0 12px 0;
    color: var(--white);
    font-family: var(--font);
    font-size: 16px;
}

input:focus {
    outline: none;
    border-bottom: solid 2px var(--mint);

}

button {
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: var(--white);
    font-family: var(--font);
    font-weight: 500;
    font-size: 16px;
    color: var(--blue);
    cursor: pointer;
}

button:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2),
        0 10px 20px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 30px;
    font-size: 14px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    margin-left: 10px;
    border-radius: 100%;
}

footer img:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}