/* variáveis */
/* importa fonte titulo */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/* importa fonte corpo */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --gradiente-azul: linear-gradient(42deg,rgba(0, 7, 23, 1) 30%, rgba(42, 123, 155, 1) 58%, rgba(87, 199, 133, 1) 84%, rgba(144, 223, 226, 1) 100%);
    --verde-agua-claro: #defaf3;
    --azul-escuro: #001d48;
    --verde-agua: #90dfe2;
    --off-white: #eaeaea;
    --preto: #0e0f10af;
    --sombra: #00000056;
    --fonte-titulo: "Questrial", sans-serif;
    --fonte-corpo: "Montserrat", sans-serif;
}

body {
    background: var(--gradiente-azul);
    font-family: var(--fonte-corpo);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    color: var(--off-white);
}

main {
    background: var(--sombra);
    box-shadow: var(--sombra) 2px 2px 5px;
    border-radius: 20px;
    width: 250px;
    height: 400px;
    padding: 25px;
    text-align: center;
    padding-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: var(--fonte-titulo);
    text-shadow: var(--sombra) 2px 2px 5px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

input {
    border-radius: 100px;
    border-style: none;
    font-family:  var(--fonte-corpo);
    padding: 0.5em;
    margin-top: 25px;
    font-size: 16px;
    
}

.btn {
    font-weight: 500;
    cursor: pointer;
    color: var(--off-white);
    background-color: var(--preto);
}

.btn:hover {
box-shadow: var(--sombra) 2px 2px 15px;
}

.resultado {
    background: var(--preto);
    border-radius: 20px;
    padding: 25px 20px;
}

span {
    font-weight: 600;
}

footer {
    font-size: 14px;
}
